/* Footer Styling */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 20px;
	background-color: #7F1922;
	font-size: 18px;
}

.footer-left {
	width: 60%;
	padding-left: 40px;
}

.footer-left h3 {
	margin: 0;
	color: white;
	font-weight: 700;
	padding-bottom: 20px;
	font-weight: bold;
}

.footer-left p {
	margin: 10px 0 0 0;
	font-weight: 400;
	color: white;

}

.footer-right {
	width: 20%;
	text-align: right;
}

.address {
	margin-bottom: 10px;
}

.address p {
	margin: 0;

	text-indent: 10px;
	text-align: left;
	color: white;
}

.social-icons {
	display: flex;
	align-items: flex-end;
}

.social-icons a {
	margin-left: 10px;
	color: #7F1922;
	text-decoration: none;
	
}

.social-icons .icon {
	font-size: 20px;
}