@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/open-sans');
}

nav {
    background-color: white;
    padding: 10px;
    display: flex; 
    align-items: center;
    flex-direction: row;
}

.links {
    color: black;
    text-decoration: none;
    margin: 10px 15px;
    vertical-align: middle; 
    font-size: 18px;
    font-weight: bold;
}

.logo {
   width: 174px;
   height: 80px;
}

.right {
   margin-left: auto;
}

button {
    background-color: #C3272E;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
}