.download-button {
    color: #7f1922;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    border: none;
    background-color: transparent;
  }
  
  .download-button:hover {
    cursor: pointer;
  }
  