.reset-title {
  font-size: 225%;
  margin-bottom: 0rem;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #c3272e;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.reset-form {
  margin-top: 2%;
  width: 75%;
}

.reset-desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 6%;
}

.reset-error {
  margin-bottom: 0%;
  margin-top: 0%;
  color: red;
}
