.profile-info {
    margin-left: 120px;
    margin-right: 804px;
    width: 516px;
}

.long-input {
    width: 516px;
    height: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    box-sizing:border-box
}

.short-input {
    width: 156px;
    height: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    box-sizing:border-box
    
}
.stateDrop { 
    width: 156px;
    height: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    box-sizing:border-box
}

.label-short{
    display: inline;    
    
}

.threeInOne { 
    width: 514px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cityDiv { 
    width: 30%;
}

.threeBlockDiv { 
    width: 30%;
}